@media (max-width: 1100px) {
    .creative-future-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}


@media (max-width: 768px) {
    .creative-future-grid {
        grid-template-columns: 1fr  !important;;
        gap: 20px;
    }
}